@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}

#pesquisar{
  margin-top: 10px;
  height: 50px;
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


iframe {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vw;
  min-height: 100vh;
  min-width: 200vh;
}

#config, #lista, .caixa {
  width: 100%;
  margin-left: 10px;
}


#descricao{
  font-size: 1vw;
}

p{
  font-size: 18px;
  font-weight: 500;
}


#pesquisa {
  border-radius: 10px;
  border: 1px solid #ddd;
  background: #0000007d;
  color: #ffffff;
  text-align: center;
  height: 50px;
}
  
#myUL{
  padding-left: 0;
}

.bottom {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  padding-top: 5px;
}

.top {
  zoom: 0.7;
  position: relative;
  display: flex;
  color: #f1f1f1;
  width: 100%;
  height: 161px;
  border-radius: 20px;
}

#data{
  display: flex;
  align-items: center;
  justify-content: center;
}

#dataHora{
  font-weight: 600;
}

.myBtn, #player, #ambiente {
  border-radius: 10px;
  margin-bottom: 2px;
  width: 100%;
  font-size: 18px;
  padding: 1%;
  border: none;
  background: rgba(0, 0, 0, 0.65);
  color: #fff;
  height: 38px;
}

.myBtn:hover, #player:hover, #ambiente:hover {
  background: #ddd;
  color: black;
}

audio { display:none;}

.caixa{
  text-align: center;
  background: rgba(0, 0, 0, 0.65);
  width: 100%;
  padding: 1%;
  margin-left: 10px;
  border-radius: 0px 0px 25px 25px;
  height: 100%;
}

::-webkit-scrollbar {
width: 15px;
}


::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px grey; 
border-radius: 0px;
}

::-webkit-scrollbar-thumb {
background: #0000007d;
border-radius: 0px;
}


::-webkit-scrollbar-thumb:hover {
background: #0000007d;
}



input[type=range] {
box-sizing: border-box;
font-size: 16px;
line-height: 1;
height: 2em;
background-color: transparent;
cursor: pointer;
-webkit-appearance: none;
width: 67%;
}
input[type=range]::-webkit-slider-thumb {
-webkit-appearance: none;
}
input[type=range]:focus {
outline: none;
}
input[type=range]::-ms-track {
width: 100%;
cursor: pointer;
background: transparent;
border-color: transparent;
color: transparent;
}
input[type=range]::-webkit-slider-thumb {
-webkit-appearance: none;
width: 1.5em;
height: 1.5em;
margin-top: 0;
background-color: #000000;
border-radius: 1em;
border: 2px solid rgba(255, 255, 255, 0.5);
cursor: pointer;
}
input[type=range]::-moz-range-thumb {
width: 2em;
height: 2em;
margin-top: 0;
background-color: #16a085;
border-radius: 1em;
border: 2px solid rgba(255, 255, 255, 0.5);
cursor: pointer;
}
input[type=range]::-ms-thumb {
width: 2em;
height: 2em;
margin-top: 0;
background-color: #16a085;
border-radius: 1em;
border: 2px solid rgba(255, 255, 255, 0.5);
cursor: pointer;
}
input[type=range]:hover::-webkit-slider-thumb {
border-color: rgba(255, 255, 255, 0.7);
}
input[type=range]:hover::-moz-range-thumb {
border-color: rgba(255, 255, 255, 0.7);
}
input[type=range]:hover::-ms-thumb {
border-color: rgba(255, 255, 255, 0.7);
}
input[type=range]:active::-webkit-slider-thumb {
border-color: #ffffff;
}
input[type=range]:active::-moz-range-thumb {
border-color: #ffffff;
}
input[type=range]:active::-ms-thumb {
border-color: #ffffff;
}
input[type=range]::-webkit-slider-runnable-track {
width: 100%;
cursor: pointer;
height: 1em;
border-bottom: 2px solid rgba(255, 255, 255, 0.5);
background-color: transparent;
}
input[type=range]::-moz-range-track {
width: 100%;
cursor: pointer;
height: 1em;
border-bottom: 2px solid rgba(255, 255, 255, 0.5);
background-color: transparent;
}
input[type=range]::-ms-track {
background: transparent;
border-color: transparent;
color: transparent;
}


h1 {
  text-transform:capitalize;
  font-weight: bold;
  font-size: 2.5vw;
}

#listaCidades {
  left: 0;
  bottom: 0;
  height: 155px;
  border-radius: 3px;
  overflow-y: auto;
}




::placeholder { 
  color: white;
  opacity: 1; 
}



@media screen and (max-width: 800px) {
  .top {
    width: 40%!important; 
    flex-direction: column;
  }
  .caixa {
    border-radius: 25px 25px 25px 25px;
  }
  #config, #lista, .caixa {
    margin-bottom: 10px;
  }
  #descricao {
    font-size: 2vw;
}
  h1 {

    font-size: 4vw;
}
}

  body{
    overflow: hidden;
    position: fixed;
    top: 0;
    bottom: 0;
  }